body{
    background-color: #F0EBCE;
}
img{ 
    width: 30%;
    border-radius: 20%;
}
h1{
    color: #395144;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
   color:#4E6C50;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table{
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #344D67;
    width: 95%;

}
p{
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #344D67;
    width: 95%;
    
}
h3{
    color: #395144;
}

.lineleft{
    width: 20%;
    margin-left: 0px;
    
}

.linecenter{
    width: 50%;
    border-width: 5px;
   margin-left: 25%;
   border-style: none;
   border-top-style:dotted ;
   color: #344D67;
   
}

.lineright{
    width: 20%;
    margin-right: 0%;
}
.nametable{
    align-items: center;
    height: 100px;
}
.topicons a{
text-decoration: none;
color: #09097d;
background-color: #ffffff;
border-radius: 20%;
padding: 10px;
}
